body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #82A8AA;
    padding: 10px 20px;
    color: white;
  }
  
  .nav-button {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px;
    background: #82A8AA;
  }
  
  .navbar-name {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .guest-view-container {
    padding: 20px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .session-list {
    list-style: none;
    padding: 0;
  }
  
  .session-list li {
    margin-bottom: 10px;
  }
  
  .session-details {
    background: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
  }
  
  strong {
    cursor: pointer;
    color: #0078d4;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
     font-size: 12px;
  }
  